@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #F3E6E3;
    color: #000;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }
  
  /* Dark mode styles */
  body.dark-mode {
    background-color: #2D2D2D;
    color: #FFF;
  }
  
  .main {
    transition: background-color 0.3s, color 0.3s; /* Apply transitions to main content */
  }
  
  .dark-mode .main {
    background-color: #3A3A3A; /* Darken main content area in dark mode */
    color: #FFF;
  }
  
  /* Additional styling for elements that need dark mode adaptation */
  .dark-mode .bg-white {
    background-color: #444; /* Adjust card or container background */
  }
  
  .dark-mode .text-slate-400 {
    color: #FFF; /* Adjust text color inside dark mode */
  }
  